/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');



body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

main {
    background-color: #f4f4f4;
}

section {
    padding-bottom: 80px;
}

/*navigation*/

nav {
    background-color: white;
    gap: 600px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 100px;
    margin-left: 100px;

}

nav a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 26px;
    margin-bottom: 26px;
    border-radius: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: lightgray;
}

.navigation {
    display: flex;
    margin-right: 100px;
}

/*header*/

header {
    text-align: center;
    background-image: url(../images/nintendoBack.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    border-bottom: black solid;
}

h1 {
    margin: 0px;
    font-size: 40px;
    padding-top: 120px;
}

header p {
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 40px;
    text-align: center;
}

header a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

header a:hover {
    background-color: #494949;
    color: white;
}


/*section 1 products*/
h2 {
    font-size: 40px;
    margin-top: 0px;
    padding-top: 50px;
    text-align: center;
}

h3 {
    margin: 10px;

}

.products {
    display: flex;
    justify-content: center;
    gap: 30px;
}

article img {
    height: 20vh;
    width: 20vw;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
    /* object-fit: cover; Ziet er niet uit */
    border-bottom: 1px solid black;
}



.product {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;

}

.product:hover {
    transform: translateY(-5%);
}

.stars {
    margin: 10px;
    display: flex;
}

article a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #494949;
}

.articleA {
    padding-bottom: 30px;
}

article p {
    margin-left: 10px;
    margin-bottom: 20px;
}

.checked {
    color: orange;

}

.section1 {
    background-color: white;
}

/*section 2 forms*/

h4 {
    text-align: center;
    font-size: 40px;
}


.flexAll {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 36vw;
    max-width: 680px;
    margin-left: 32vw;
    margin-right: 32vw;
    padding: 0;

}

.flexAll p {
    text-align: left;
}

.flexName {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.labelInput {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input {
    padding: 0;
    border: 0;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 5vh;
}

form textarea {
    width: 100%;
    height: 20vh;
    border: 0;
    padding: 0;
    border: 2px solid lightgray;
    border-radius: 5px;
    resize: none;
}

.button {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.button input {
    height: 2vh;
}

.Long input {
    width: 100%;
}

.labelButton {
    display: flex;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
}

button:hover {
    background-color: #494949;
    color: white;
}


/*footer*/
footer {
    background-color: #494949;
    padding-left: 50px;
    padding-bottom: 50px;
}

footer img {
    width: 100px;
}

footer p {
    color: white;
    margin-top: 0px;
}

footer a {
    color: white;
    text-decoration: none;
}

.lasts {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-right: 50px;
}


.logos img {
    width: 40px;
}




@media(width <=480px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        gap: 0px;
    }

    nav a {
        text-align: center;
        padding-left: 40vw;
        padding-right: 40vw;
        margin: 0;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
    }

    nav img {
        margin: 0;
    }


    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85vh;
    }

    header p {
        margin-left: 0;
        margin-right: 0;
        width: 80%;
    }


    .headerButton {
        display: flex;
        flex-direction: row;
    }

    .flexName {
        flex-direction: column;
    }

    article {
        width: 90%;
    }

    .product {
        width: 90%;
    }

    .products {
        display: flex;
        flex-direction: column;
    }
}