/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');



body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

main {
    background-color: #f4f4f4;
}

section {
    padding-bottom: 80px;
}

/*navigation*/

nav {
    background-color: white;
    gap: 600px;
    display: flex;
    justify-content: space-between;

    & a {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 26px;
        margin-bottom: 26px;
        border-radius: 10px;
        text-decoration: none;
        color: black;
    }

    & img {
        width: 100px;
        margin-left: 100px;
    }

    & a:hover {
        background-color: lightgray;
    }

}

.navigation {
    display: flex;
    margin-right: 100px;
}

.nintendo a {
    display: flex;
    background-color: #494949;
    color: white;
}

/*header*/
h1 {
    margin: 0px;
    font-size: 2.5rem;
    padding-top: 120px;
}

header {
    text-align: center;
    background-image: url(../images/nintendoBack.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    border-bottom: black solid;
    border-top: 2px solid black;

    & p {
        margin-left: 500px;
        margin-right: 500px;
        margin-bottom: 40px;
        text-align: center;
    }

    & a {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 10px;
        border: 1px solid black;
        text-decoration: none;
        color: black;
    }

    & a:hover {
        background-color: #494949;
        color: white;
    }
}


/*section 1 products*/
h2 {
    font-size: 2.5rem;
    margin-top: 0px;
    padding-top: 50px;
    text-align: center;
}

h3 {
    margin: 10px;
    margin-left: 20px;

}

.products {
    display: flex;
    justify-content: center;
    gap: 30px;
}

article {
    & img {
        height: 30vh;
        width: 22vw;
        margin-top: 10px;
        margin-bottom: 10px;
        object-fit: contain;
        /* object-fit: cover; Ziet er niet uit */
        border-bottom: 1px solid black;
    }

    & a {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        margin-left: 20px;
        border-radius: 5px;
        background-color: #494949;
        text-decoration: none;

        &:hover {
            background-color: lightgray;
        }
    }

    & p {
        margin-left: 20px;
        margin-bottom: 20px;
        width: 20vw;
    }

    & ul {
        margin-top: 0;
    }
}


.product {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;

    &:hover {
        transform: translateY(-5%);
    }
}

.stars {
    display: flex;
    color: orange;
    font-size: 1.875rem;
    width: 1vw;

    & p {
        margin: 0;
        margin-left: 20px;
    }
}

.noStar {
    color: lightgray;
}

.articleA {
    padding-bottom: 30px;
}

.checked {
    color: orange;

}

#section1 {
    background-color: white;
}


/*section 2 forms*/

h4 {
    text-align: center;
    font-size: 2.5rem;
}


.flexAll {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 36vw;
    max-width: 680px;
    margin-left: 32vw;
    margin-right: 32vw;
    padding: 0;

    & p {
        text-align: left;
    }
}


.flexName {
    display: flex;
    gap: 20px;
}

.labelInput {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input,
select {
    padding: 0;
    border: 0;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 5vh;
}

form textarea {
    width: 36vw;
    height: 20vh;
    border: 0;
    padding: 0;
    border: 2px solid lightgray;
    border-radius: 5px;
    resize: none;
}

.button {
    display: flex;
    gap: 10px;
    margin-right: 20px;

    & input {
        height: 2vh;
    }
}

.Long input,
select {
    width: 36vw;
}


.labelButton {
    display: flex;
    margin-bottom: 20px;
}

.labelCondition {
    display: flex;
    margin-bottom: 20px;
}

button {
    width: 36vw;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;

    &:hover {
        background-color: #494949;
        color: white;
    }
}

label {
    margin-bottom: 5px;
}



/*footer*/
footer {
    background-color: #494949;
    padding-left: 50px;
    padding-bottom: 50px;

    & img {
        width: 100px;
    }

    & p {
        color: white;
        margin-top: 0px;
    }

    & a {
        color: white;
        text-decoration: none;
    }
}

.lasts {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-right: 50px;
}


.logos img {
    width: 40px;
}




@media(width <=480px) {

    main {
        max-width: 480px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        gap: 0px;
        width: 100%;
        max-width: 480px;

        & a {
            text-align: center;
            padding-left: 30vw;
            padding-right: 30vw;
            margin: 0;
        }

        & img {
            margin: 0;
        }
    }

    .nintendo a {
        justify-content: center;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        height: 120vh;

        & p {
            margin-left: 0;
            margin-right: 0;
            width: 80%;
        }
    }

    .headerButton {
        display: flex;
        flex-direction: row;
    }

    .flexName {
        flex-direction: column;
    }

    article {
        width: 90%;
    }

    .product {
        width: 94vw;
        margin-left: 3vw;
        margin-right: 3vw;

        & img {
            width: 94vw;
            height: 40vh;
        }
    }


    .products {
        display: flex;
        flex-direction: column;
    }

    .articleText {
        width: 86vw;
        margin-right: 20px;
    }

    .flexAll {
        margin-left: 3vw;
        margin-right: 3vw;

        & p {
            width: 80vw;
        }
    }

    input,
    .Long input,
    select,
    button {
        width: 94vw;
        height: 3rem;
    }

    form textarea {
        width: 94vw;
        height: 20vh;
        border: 0;
        padding: 0;
        border: 2px solid lightgray;
        border-radius: 5px;
        resize: none;
    }

    .labelButton {
        & input {
            width: 3vw;
            height: 3vh;
        }

        & label {
            width: 2vw;
        }
    }


    .labelCondition {
        & input {
            width: 5vw;
            height: 5vh;
        }

        & label {
            width: 50vw;
        }
    }

    #footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .lasts {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
}